.section-home{
    width: 100wh;
    height: 100vh;
}
.div-image-container{
    width: 100;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url('./assets/fondo-home.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}